<div class="card m-4" style="width: 18rem;">
  {{#if image}}
    <img src="{{image}}" class="card-img-top p-1" alt="...">
  {{/if}}
  <div class="card-body">
    <a href="{{id}}" class="card-title">{{title}}</a>
    <p class="card-text">{{text}}</p>
  </div>
</div>