<section class="hero-bg" id="hero">
    <div class="container">
        <div class="row px-2">
            <div class="col-sm-12 col-md-6 col-lg-6 col-12 pt-5">
                <div id="carouselControls" class="carousel slide pt-5" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h1>Matthew Golden</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <button type="button" class="btn btn-dark text-white">About Me</button>
                            <button type="button" class="btn btn-dark text-white">Contact</button>
                        </div>
                        <div class="carousel-item">
                            <h1>Data Egineering</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <button type="button" class="btn btn-dark text-white">Code</button>
                            <button type="button" class="btn btn-dark text-white">Contact</button>
                        </div>
                        <div class="carousel-item">
                            <h1>Cloud Development</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <button type="button" class="btn btn-dark text-white">Posts</button>
                            <button type="button" class="btn btn-dark text-white">Contact</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>