body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-bar-fixed-top {
  top: -70px;
  opacity: 0;
}

.hero-bg {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#hero container {
  height: 50vh;
}

.carousel-item {
  margin-top: 20%;
  padding-bottom: 10%;
}

.carousel-item  {
  color: #ffffff;
}

.card{
  box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
}
